body {
    background: #F0F0F3;
}

.login-box {
    background: #fff;
    border: 1px solid #ddd;
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}

#middleman {
    display: table;
    margin: 0 auto;
}
#ownVibe {
    width: 100%;
}

#listOfAudios {
    padding-top: 160px;
}

li {
    cursor: pointer;
    list-style-type: none;
}

.highlight {
    font-weight: bold;
}

.box2 {
    display: inline-block;
    width: 90%;
    height: 30px;
}

.box1 {
    width: 10% !important;
}

.truncate {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



#audioplayer{
    width: 100%;
    height: 120px;
    margin: auto;
    border: solid;
}

#pButton{
    height:120px;
    width: 120px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('/public/images/play.png') ;}
.shuffle{background: url('/public/images/shuffle.png') ;}
.pause{background: url('/public/images/pause.png') ;}
.playlist{background: url('/public/images/playlist.png') ;}
.profile {background: url('/public/images/profile.png') ;}

#timeline{
    width: 100%;
    float: none;
    display: block;
    height: 60px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#playhead{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}
.left-top-player {
    text-decoration: none;
    display: table-cell;
    width:5%;
    text-align: center;
    /*padding:2% 0;*/
}
.middle-top-player {
    display: table-cell;
    width: auto;
}
.right-top-player {
    text-decoration: none;
    display: table-cell;
    width:5%;
    text-align: center;
    /*padding:2% 0;*/
}
.contain-player {
    width: 100%;
    padding: 0;
    margin: 0;
    display: table;
    position: fixed;
}