body {
    background: #F0F0F3;
}

.login-box {
    background: #fff;
    border: 1px solid #ddd;
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}

#middleman {
    display: table;
    margin: 0 auto;
}
#ownVibe {
    width: 100%;
}

li {
    cursor: pointer;
    list-style-type: none;
}

.highlight {
    font-weight: bold;
}

.box2 {
    display: inline-block;
    width: 90%;
    height: 30px;
}

.box1 {
    width: 10% !important;
}

.truncate {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#audioplayer{
    width: 480px;
    height: 60px;
    margin: auto;
    border: solid;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('/public/images/play.png') ;}
.shuffle{background: url('/public/images/shuffle.png') ;}
.pause{background: url('/public/images/pause.png') ;}

#timeline{
    width: 340px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}
