#{extends 'main.html' /}
#{set title:'Home' /}
<script type="application/javascript">
    function playAudio(id){
        wavesurfer.currentAudioId = id;
        wavesurfer.load("/audio/" + id);
    }
    // Create an instance
    var wavesurfer = Object.create(WaveSurfer);
    wavesurfer.lengthOfPlaylist = ${audios.size()+1}

    // Init & load audio file
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            container     : document.querySelector('#waveform'),
            waveColor     : '#C0C0C0',
            progressColor : '#808080',
            cursorColor   : '#2F4F4F'
        };

        if (location.search.match('scroll')) {
            options.minPxPerSec = 1;
            options.scrollParent = true;
        }

        // Init
        wavesurfer.init(options);
        // Load audio from URL
        wavesurfer.load('/audio/2');

        // Regions
        if (wavesurfer.enableDragSelection) {
            wavesurfer.enableDragSelection({
                color: 'rgba(0, 255, 0, 0.1)'
            });
        }

        wavesurfer.on('finish', function () {
            console.log('Finished playing');
            if(wavesurfer.currentAudioId == wavesurfer.lengthOfPlaylist){
                wavesurfer.currentAudioId = 1;
            } else {
                wavesurfer.currentAudioId = wavesurfer.currentAudioId +1;
            }
            console.log('id: ' + wavesurfer.currentAudioId);

            wavesurfer.load('/audio/' + wavesurfer.currentAudioId);
        });
    });

    // Play at once when ready
    // Won't work on iOS until you touch the page
    wavesurfer.on('ready', function () {
        wavesurfer.play();
    });
</script>

<div id="waveform"></div>
<div id="middleman">
    <ul>
    #{list items:audios, as:'audio'}
        <li onclick="playAudio(${audio.id})">${audio.name}</li>
    #{/list}
    </ul>

    #{form @Application.upload(audio), enctype:'multipart/form-data', method:'POST'}
        <input type="file" name="audioFile">
        <input type="submit" value="Submit">
    #{/form}
</div>
