#{extends 'main.html' /}
#{set title:'Home' /}
<script type="application/javascript">
    function playAudio(id){
        var player = document.getElementById("myaudio");
        player.src="/audio/" + id;
        player.load();
        player.play()
    }
</script>

#{form @Application.upload(audio), enctype:'multipart/form-data', method:'POST'}
    <input type="file" name="audioFile">
    <input type="submit" value="Submit">
#{/form}

<audio id="myaudio" controls="controls" preload="auto">
</audio>

#{list items:audios, as:'audio'}
    <li onclick="playAudio(${audio.id})">${audio.name}</li>
#{/list}