#{extends 'main.html' /}
#{set title:'Home' /}
<script type="application/javascript">
    jQuery( document ).ready(function( $ ) {
        $( "#doLogin" ).click(function(event) {
            event.preventDefault();

            var url = "/application/login";
            var data = $( "#loginForm" ).serialize();
            var doneCallback = function( data ) {
                if(data.token){
                    setCookie('token', data.token);
                    window.location.replace('/');
                }
            };

            apiCaller.loginUser(url, data, doneCallback);
        });
    });

</script>
<div class="large-3 large-centered columns">
    <div class="login-box">
        <div class="row">
            <div class="large-12 columns">
                <form action="/application/login" method="post" accept-charset="utf-8" enctype="multipart/x-www-form-urlencoded" id="loginForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="email" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="password" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <input id="doLogin" type="submit" class="button expand" value="Log In"/>
                        </div>
                    </div>
                    <a href="/application/registrationForm">Register</a>
                </form>
            </div>
        </div>
    </div>
</div>