#{extends 'main.html' /}
#{set title:'Home' /}
<script type="application/javascript">
    jQuery( document ).ready(function( $ ) {
        $( "#doRegister" ).click(function(event) {
            event.preventDefault();

            var data = $( "#registerForm" ).serialize();
            var doneCallback = function( data ) {
                if(data.token){
                    setCookie('token', data.token);
                    window.location.replace('/');
                } else if (data.status == "Password missmatch" || data.status == "Invalid email") {
                    alert(data.status);
                }
            };

            apiCaller.registerUser(data, doneCallback);
        });
    });

</script>

<div class="large-3 large-centered columns">
    <div class="login-box">
        <div class="row">
            <div class="large-12 columns">
                <form action="/application/register" method="post" accept-charset="utf-8" enctype="multipart/x-www-form-urlencoded" id="registerForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="email" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" name="username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="password" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="password" name="xpassword" placeholder="Repeat Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <input id="doRegister" type="submit" class="button expand" value="Sign Up"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>